# modules
node_modules

# env
.env*

# build
out
build
dist

# personal notes
todo.md
.vscode

# plasmo - https://www.plasmo.com
.plasmo

# bpp - http://bpp.browser.market/
keys.json
key.json

# typescript
.tsbuildinfo

test/